/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

:root {
    --background: #272e33;
    --foreground: #d3c6aa;
    --black:   #414b50;
    --red:     #e67e80;
    --green:   #a7c080;
    --yellow:  #dbbc7f;
    --blue:    #7fbbb3;
    --magenta: #d699b6;
    --cyan:    #83c092;
    --white:   #d3c6aa;

    --tab: 700px;
    --mobile: 450px;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--background);
    color: var(--foreground);
}